<html>
    <head>
        <title>Teresa's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Teresa's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">I did it!</a></h2>
            <p>This is my blog. I am so excited I learned how to do this! :)</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">COMING SOON</a></h2>
            <p>I need to find something interesting to write about..
            </p>
        </div>
    </body>
</html>


